.featured-container {
    height: 130vh;
    width: 90vw;
    display: flex;
    margin: 0vh 5vw;
    span {
        color: var(--purple);
    }
    h2 {
        color: black;
        font-weight: 700;
    }

    .all-posts {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        h4 {
            margin: 0;
            padding: 0;
        }

        .heading-container {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding-bottom: 16px;
        }

        .post-container {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            a {
                display: flex;
                flex-grow: 1;
                transition: all 0.2s;
                .post {
                    padding: 32px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    
                }

                &:hover {
                    background-color: var(--yellow);
                    cursor: pointer;
                }
            }
        }
    }

    .featured {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        .heading-container {
            padding-bottom: 16px;
        }

        .card-container {
            display: flex;
            height: 100%;
            border: 1px solid rgba(0, 0, 0, 0.1);
            .card {
                padding: 0px;
                height: calc(100% - 64px);
                display: flex;
                flex-direction: column;
                .img-container {
                    margin: 0;
                    height: calc(25% - 32px);
                    overflow: hidden;
                    img {
                        width: 100%;
                        transform: translateY(-50%);
                    }
                }

                .info-container {
                    height: calc(50% - 32px);
                    padding: 32px;
                    span {
                        color: var(--purple);
                    }

                    button {
                        background-color: var(--yellow);
                        border: 0;
                        border-radius: 2px;
                        padding: 16px 48px;
                        h6 {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}
