@import '../../App.scss';

.join-our-team-container {
    @extend .full-page-container;
    @include flex(column);
    height: 50vh;

    .text {
        width: 40%;
        @include flex(column);
        text-align: center;
    }

    button {
        border: 0;
        background-color: var(--yellow);
        padding: 16px 48px;
        font-family: "sen";
        font-weight: 700;
    }
}
