@import '../../../App.scss';

.about-us--section-three-container {
    @extend .full-page-container;
    display: flex;
    align-items: center;
    .left {
        width: 50%;
        height: 100%;
        .wrapper {
            position: relative;
            img {
                width: 100%;
            }
            .circle {
                position: absolute;
                height: 100px;
                width: 100px;
                border-radius: 100%;
                background-color: var(--purple);
                bottom: -10%;
                left: 10%;
            }
        }
    }
    .right {
        width: 50%;
        padding: 64px;
        height: 100%;
    }
}
