.list {
    margin: 30px 0px 30px 0px;

    .heading {
        color: white;
        font-size: 24px;
        font-weight: 500;
        margin-left: 50px;
    }

    .wrapper {
        position: relative;
        .arrow-container {
            height: 100%;
            width: 100%;
            background-color: aqua;
            position: absolute;
            overflow: hidden;
            .arrow {
                height: 100%;
                width: 50px;
                color: white;
                position: absolute;
                background-color: rgba($color: #000000, $alpha: 0.5);
                top: 0;
                bottom: 0;
                z-index: 99;

                

                &.left {
                    left: 0;
                    &:hover {
                        transform: scale(1.2);
                    }
                }

                &.right {
                    right: 0;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }

        .slider-container {
            display: flex;
            margin-left: 50px;

            .slider {
                width: 100%;
                height: 200px;
                transform: translateX(-100%);
                transition: all 0.5s;
                display: flex;
                .slider-items {
                    flex-shrink: 0;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}
