.container {
    height: 100vh;
    width: 90vw;
    margin: 0vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-top: 10%;

    .pattern {
        height: 3%;
        width: 100%;
        display: flex;
        background-color: white;
        .yellow {
            height: 100%;
            width: 60%;
            margin-left: 20%;
            background-color: var(--yellow);
        }
        .purple {
            height: 100%;
            width: 20%;
            background-color: var(--purple);
        }
    }

    .info-container{
        height: 87%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        overflow: hidden;
        background-color: #F4F0F8;

        .about-us {
            width: 40%;
            display: flex;
            flex-direction: column;
            margin-top: 10%;
            height: 100%;
        }

        .our-mission {
            width: 40%;
            display: flex;
            flex-direction: column;
            margin-top: 10%;
        }
    }
}