.join-our-team-container {
    height: 50vh;
    width: 90vw;
    margin: 5vh 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .text {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    button {
        border: 0;
        background-color: var(--yellow);
        padding: 16px 48px;
        font-family: "sen";
        font-weight: 700;
    }
}
