.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #232536;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 5vh;
    
    .logo {
        font-size: xx-large;
        font-weight: 700;
        margin-left: 5vw;
    }

    .nav-items {
        list-style: none;
        display: flex;
        align-items: center;
        margin: 0;
        margin-right: 5vw;
        li {
            margin: 0px 15px;

            button {
                background-color: white;
                border-radius: 2px;
                border-style: none;
                height: 56px;
                width: 179px;
                font-weight: 700;
            }
        }
    }
}