.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--nav);
    color: white;
    height: 10vh;

    .logo {
        font-size: xx-large;
        font-weight: 700;
        margin-left: 5vw;
    }

    .nav-items {
        list-style: none;
        display: flex;
        align-items: center;
        margin: 0;
        margin-right: 5vw;
        li {
            margin: 0px 15px;
            // padding: 10px 0px;

            a {
                color: inherit;
                text-decoration: underline;
                text-underline-offset: 10px;
                text-decoration-thickness: 2px;
                text-decoration-color: rgba(255, 255, 255, 0) !important;
                transition: text-decoration-color 200ms;
                &:hover {
                    text-decoration-color: white !important;
                }
            }

            button {
                background-color: white;
                border-radius: 2px;
                border-style: none;
                height: 56px;
                width: 179px;
                font-weight: 700;
            }
        }
    }
}
