@import '../../../App.scss';

.logos-container {
    @extend .full-page-container;
    height: 20vh;

    display: flex;
    justify-content: center;
    align-items: center;

    .featured-in {
        * {
            margin: 0;
            color: var(--medium-grey);
            
        }
    }

    .logo-wrapper {
        display: flex;
        width: 80%;
        justify-content: space-evenly;

        svg {
            color: var(--dark-blue);
        }
    }
}