@import '../../App.scss';

.choose-category-container {
    @extend .full-page-container;
    @include flex(column);

    .category-container {
        display: flex;
        box-sizing: border-box;

        a {
            text-decoration: none;
        }

        .category {
            border: 1px solid rgba(0, 0, 0, 0.1);
            margin: 10px;
            padding: 32px;
            h3 {
                margin-bottom: 0;
                padding-bottom: 0;
            }
            .icon > svg {
                background-color: #fbf6ea;
                border-radius: 10px;
            }

            &:hover {
                transition: all 0.3s;
                background-color: var(--yellow);
                cursor: pointer;
            }
        }
    }
}
