@import '../../../App.scss';
.about-us--section-two-container {
    @extend .full-page-container;
    display: flex;
    align-items: center;
    .left {
        width: 50%;
        height: 100%;
        padding-right: 64px;
    }
    .right {
        width: 50%;
        height: 100%;
        img {
            width: 100%;
        }
        position: relative;
        .box {
            height: 110px;
            width: 100px;
            background-color: var(--yellow);
            position: absolute;
            top: 20%;
            left: -7%;
            border-radius: 40% 0 0 0;
        }
    }
    
}
